# System
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# AWS / Environment
.aws/
secrets.json

# IDE
.vscode/
.idea/

# Editor
*.swp
*.swo

# Project Specific
EcoShower_Project.zip
*.zip
